database.nosql
.DS_Store
package-lock.json
node_modules/
.idea/
java/client/.gradle/
java/client/build/
java/client/bin/
java/authorizationServer/.gradle/
java/authorizationServer/build/
java/authorizationServer/bin/
